<h1> Bem-vindos ao Sinatra! </h1>
<h4> <a target="_blank" href="https://sinatrarb.com/">https://sinatrarb.com/</a> </h4>
<p> O Sinatra é um framework-lite de Ruby que nos permite fazer requisições HTTP de forma simples. </p>
<p> Hoje, nosso objetivo é criar duas histórias de usuário (user journeys), que são como o usuário navega nosso site. </p>
<ul>
  <li> <h5>A primeira história consiste em listar todos os nossos restaurantes. </a> </h5> </li>
  <li> <h5>A segunda história consiste em acessar uma página para cada restaurante, com mais informações.</h5> </li>
</ul>
<p> Vocês estão liberados assim que essas duas jornadas tenham sido implementadas. </p>
